{% extends 'base.html.twig' %}

{% block title %}Hello MuscleGroupController!{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


    <div class="example-wrapper">

        <table class="min-w-full divide-y divide-gray-200">

            <thead class="bg-gray-800 text-white">
            <tr>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Id</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Email</td>
            </tr>

            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ muscle_group.id }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ muscle_group.tipul }}
                    </td>
                    <td>
                        {% for exercise in muscle_group.getExerciseId %}

                            <a class="cursor-pointer" href="{{ path('app_exercise_id', {'id': exercise.id}) }}">CEVA</a>

                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
