{% extends 'home/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}


    <div class="mask d-flex align-items-center h-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Exercises</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for muscle in muscle_groups %}
                                <tr>
                                    <td>{{ muscle.tipul }}</td>
                                    <td>
                                        {% for exercise in muscle.getExerciseId %}
                                            <a class="cursor-pointer"
                                               href="{{ path('app_exercise_id', {'id': exercise.id}) }}">{{ exercise.getName() }}</a>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
